<!doctype HTML>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
    <main>
      <header>
        <h1><%= htmlWebpackPlugin.options.title %></h1>
        <p>Currently <a href="https://github.com/bytesnz/river-survey-maps" target="_blank">under development</a>. If you have any suggestions or find any bugs, please <a href="https://github.com/bytesnz/river-survey-maps/issues" target="_blank">log an issue</a>.</p>
      </header>
      <div id="mapContainer">
        <div id="map"></div>
        <div id="buttons">
          <button id="controls-button">Filters</button>
        </div>
        <div id="controls"></div>
      </div>
      <div id="timescale"></div>
    </main>
  </body>
</html>
